# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/modules.xml
/raredecay_repo.iml
/vcs.xml
/misc.xml
/git_toolbox_prj.xml
